<div class="container">
  <form [formGroup]="form">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" [customMenuRef]="customMenu"> </ngx-editor-menu>
      <ng-template #customMenu>
        <app-custom-menu [editor]="editor"></app-custom-menu>
      </ng-template>
      <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
    </div>
  </form>
  <button (click)="saveContent()">Save Content</button>
  <button (click)="loadTemplate()">Load Template</button>
</div>
